p{
display:flex;
  justify-content: space-around;
 width:75%;
  font-family:'Libre Baskerville',16px;
  text-align: center;
}

h2{
  display: inline;
  font:"Raleway",32px;
  text-align: center;
}

h3{
  display:flex;
  font:"Raleway",20px;
  margin:15% auto;
  padding: 15% auto;
  border:3px solid #0A72B3;
  background-color: #1CA7FF;
}
.container {
  display: flex;
  height: 100%;
  width: auto;
  background-color: rgb(245, 236, 223);
}

.gallery{
  display:flex;
  flex-direction: column;
  justify-content: flex-start;
  width:60%;
  border: 3px black;
}

.logo{
display:flex;
width:60%  ;
background-image: url(remockBox.svg);

}

