.container {
      display: flex;
      align-content: center;
      border:3px solid #0A72B3;
        
}

#header {
      display: flex;
      border:3px solid #0A72B3;
      background-color: #1CA7FF;
      flex-direction: column;           
}



#header-title {
      display: flex;
      font-weight: 5rem;
      border:3px solid #0A72B3;
      background-color: #1CA7FF
justify-content: center;
}

#header-description {
      display: flex;
      font-weight: 2rem;
      border:3px solid #0A72B3;
      background-color: #1CA7FF
justify-content: center;
}