.headerContainer {
      display: flex;
      justify-content: center;
      border-style: none none double none;
      border-color: blue;
      border-width: .5em;
}

#header {
      display: flex;
      flex-direction: column;
}

#header-title {
      display: flex;
      font-size: 4em;
      justify-content: center;
}

#header-description {
      display: flex;
      font-size: 1.25em;
      justify-content: center;
}

